PORT=3001
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=juanbasdatsantuy123
DB_NAME=metamon_db
JWT_SECRET=your_super_secret_key_minimum_32_chars
JWT_EXPIRES_IN=8h
SENSOR_API_KEY=your_sensor_api_key
ALLOWED_ORIGINS=http://localhost:3000
